doctype html
html(lang="en")
    head
        title= "Shithead"
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/style.css", type="text/css")
    body
        div(id="wrapper")
            div(id="game")
            div(id="playerData")
                div(id="input-nickname")
                    form
                        p choose a nickname:
                        input(id="name")
                        button(type="submit") Join
                div(id="lobby")
                    p(id="pc") Player count: #[span= playerCount]

                    ul(id="playersList")
                        each player in players
                            li= player._nickname
                                if player._ready
                                  | (ready)

                button(id="ready-btn") Ready
                button(id="unready-btn") Not Ready
        script(src="/js/phaser.min.js")
        script(src="http://code.jquery.com/jquery-1.11.1.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/game.js")
        script.
            var socket = io();

                function init(){
                    $('#ready-btn').hide();
                    $('#unready-btn').hide();
                }

            function updatePlayerList(players){

                // Empty list
                $('#playersList').html('');

                for( var i = 0; i< players.length; i++){

                    var readyText = "";
                    console.log(players[i]._ready);
                    if( players[i]._ready == true){
                        readyText = " (ready)";
                    }

                    $('#playersList').append(
                            $('<li>', {
                                text: players[i]._nickname + readyText
                            })
                    );
                }
            }


            function updatePlayerCount(count){
                $('#pc').find('span').text(count);
            }

            function updateGUI(data){
                updatePlayerCount(data.playerCount);
                updatePlayerList(data.players);
            }
            socket.on('chooseNickname', function(){
                // Show UI
                $('#playerData').show();
                $('#input-nickname').show();
               // var name = prompt("What is your name? ");
               // socket.emit('register', name);

               //return joined();
            });

            function joined(){
                $('#ready-btn').show();
                $('#input-nickname').hide();
                $('#lobby').show();
            }

            function ready(){
                $('#ready-btn').hide();
                $('#unready-btn').show();
            }

            function notReady(){
                $('#ready-btn').show();
                $('#unready-btn').hide();
            }

            socket.on('newPlayer', function(data){
                updateGUI(data);
            });

            socket.on('playerLeft', function(data){
                updateGUI(data);
            });
            socket.on('playerReady', function(data){
                updateGUI(data);
            });

            socket.on('playerUnReady', function(data){
                updateGUI(data);
            });

            socket.on('lateJoin', function(){
                alert('The game already started, you can no longer join.')
            });

            socket.on('startGame', function(){
                lobbyState.startGame();
                $('#playerData').hide();
            });

            socket.on('giveHand', function(data){
                playState.dealCards(data);
            });

            $(function(){
                init();

                $(document).on('click', '#ready-btn', function(){
                    socket.emit('ready');
                    return ready();
                });

                $(document).on('click', '#unready-btn', function(){
                    socket.emit('unready');
                    return notReady();
                });

                $(document).on('submit', '#input-nickname form', function(e){
                    e.preventDefault();
                    var name = $('#name').val();

                    if( name.length < 1 ){
                        return false;
                    }
                    socket.emit('register', name);
                    return joined();
                });
            });


