doctype html
html(lang="en")
    head
        title= "Shithead"
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/style.css", type="text/css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body


        div(id="wrapper")
            div(id="playerSidebar")
                ul
            div(id="game")
            div(id="playerData")
                div(id="input-nickname")
                    form
                        p choose a nickname:
                        input(id="name")
                        button(type="submit") Join
                div(id="lobby")
                    p(id="pc") Player count: #[span= playerCount]

                    ul(id="playersList")
                        each player in players
                            li= player._nickname
                                if player._ready
                                  | (ready)
                    button(id="ready-btn") Ready
                    button(id="unready-btn") Not Ready

                div(id="kicked")
                    p You have been kicked from the game for being inactive, refresh your browser.
                div(id="stopped")
                    div
                div(id="disconnected")
                    p You have lost connection to the server, attempting to auto re-join...

        script(src="/js/phaser.min.js")
        script(src="http://code.jquery.com/jquery-1.11.1.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/cardTranslator.js")
        script(src="/js/rules.js")
        script(src="/js/game.js")
        script.
            var socket = io();
            var disconnected = false;

                function init(){
                    $('#ready-btn').hide();
                    $('#unready-btn').hide();
                }

            function updatePlayerList(players){

                // Empty list
                $('#playersList').html('');

                for( var i = 0; i< players.length; i++){

                    var readyText = "";
                    //console.log(players[i]._ready);
                    if( players[i].ready == true){
                        readyText = " (ready)";
                    }

                    $('#playersList').append(
                            $('<li>', {
                                text: players[i].nickname + readyText
                            })
                    );
                }
            }

            function joinSpectate(){
                // Check if the game is loaded
                if( loaded ){
                    joinGameView();
                    return lobbyState.startGame();
                }

                setTimeout(joinSpectate, 50);
            }

            function joinGameView(){
                if( self != null && typeof self != 'undefined' && self != window){
                    socket.emit('specGetUpdate');
                    return false;
                }
                setTimeout(joinGameView, 50);
            }

            socket.on('specUpdate', function(data){
                updatePlayerSidebar(data)
                console.log(data);
                playState.serverPlace(data.currentCard);
            });


            function updatePlayerCount(count){
                $('#pc').find('span').text(count);
            }

            function updatePlayerSidebar(data){


                $('#playerSidebar').show();
                var element = $('#playerSidebar').find('ul');
                element.html('');

                for( var i = 0; i < data.players.length; i++){
                    var player = data.players[i];
                    var html = "";
                    if( player.onTurn ) {
                        html += '<li class="active">';
                    }
                    else{
                        html += '<li>';
                    }
                    html += '<p><i class="fa fa-user"></i> '+ player.nickname + '</p>';
                    html += '<em>cards: <span>'+player.cardCount+'</span></em>';
                    html += "</li>";
                    element.append(html);
                }

            }

            function updateGUI(data){
                updatePlayerCount(data.playerCount);
                updatePlayerList(data.players);
            }

            function chooseNickname(){
                $('#playerData').show();
                $('#input-nickname').show();
            }
            socket.on('chooseNickname', function(){
                // Show UI
                chooseNickname();
               // var name = prompt("What is your name? ");
               // socket.emit('register', name);

               //return joined();
            });

            function restartGame(){
                resetGUI();
                playState.restart();
            }

            function reconnected(){
                disconnected = false;
                $('#disconnected').hide();
            }

            function resetGUI(){
                $('#playerData').hide();
                $('#playerSidebar').hide();
                $('#lobby').hide();
                $('#unready-btn').hide();
                $('#stopped').hide();
                $('#disconnected').hide();
            }

            function joined(){
                $('#ready-btn').show();
                $('#input-nickname').hide();
                $('#lobby').show();
            }

            function ready(){
                $('#ready-btn').hide();
                $('#unready-btn').show();
            }

            function notReady(){
                $('#ready-btn').show();
                $('#unready-btn').hide();
            }

            function showGameEnd(playerList){

                playState.stop();

                var el = $('#stopped').find('div').html('');
                el.append('<h2>Game ended</h2>');
                el.append('<ol></ol>');

                var list = el.find('ol');

                for( var i = 0; i < playerList.length; i++){
                    list.append('<li>'+playerList[i]._nickname + '</li>');
                }


            }

            socket.on('newPlayer', function(data){
                updateGUI(data);
            });

            socket.on('playerLeft', function(data){
                updateGUI(data);
            });
            socket.on('playerReady', function(data){
                updateGUI(data);
            });

            socket.on('playerUnReady', function(data){
                updateGUI(data);
            });

            socket.on('update', function(data){
                console.log(data);
                updatePlayerSidebar(data);
            });

            socket.on('lateJoin', function(){
                joinSpectate();
            });

            socket.on('startGame', function(){
                lobbyState.startGame();
                console.log("SOCKET: START GAME");
                $('#playerData').hide();
            });

            socket.on('giveHand', function(data){
                console.log("SOCKET: GIVE HAND");
                playState.dealCards(data);
                socket.emit('gotHand');
            });

            socket.on('giveTurn', function(){
                console.log("it's your turn");
                playState.yourTurn();
            });

            socket.on('newTurn', function(player){
                console.log("I'ts "+player._nickname+"'s turn");
                playState.newTurn(player);
            });

            socket.on('kicked', function(){
                $('#playerData').show();
                $('#lobby').hide();
                $('#kicked').show();
            });

            socket.on('falseMove', function(){
                // Todo: reset move

            });

            socket.on('placed', function(card){
                // Render card for othersc
                console.log(card);
                playState.serverPlace(card);
            });

            socket.on('endJackEffect', function(){
                playState.endJackEffect();
            });

            socket.on('stopped', function(data){
                $('#playerData').show();
                $('#lobby').hide();
                $('#stopped').show();
                var el = $('#stopped').find('p');

                if( data.reason == 1){
                    el.text("The game has ended because there aren't enough players.");
                }
                else if( data.reason == 2){
                    showGameEnd(data.playerList);
                }
            });

            socket.on('takenCards', function(cards){
                playState.takenCards(cards);
            });

            socket.on('reshuffle', function(lastCard){
                playState.reshuffle(lastCard);
            });

            socket.on('noCardsLeft', function(){
                console.log('no cards left');
                // Remove deck
                playState.removeDeck();
            });

            socket.on('debt', function(){
                playState.hasDebt();
            });

            socket.on('paidDebt', function(cards){
                playState.paidDebt(cards);
            });

            socket.on('chooseSuit', function(){
                playState.showSuitsButtons();
            });

            socket.on('suitSet', function(suit){
                playState.showSuitButton(suit);
            });
            socket.on('disconnect', function(){
                disconnected = true;
                restartGame();

                $('#playerData').show();
                $('#disconnected').show();
            });

            socket.on('connect', function(){

                if( disconnected ){
                    reconnected();
                }
            });

            $(function(){

                init();

                $(document).on('click', '#ready-btn', function(){
                    socket.emit('ready');
                    return ready();
                });

                $(document).on('click', '#unready-btn', function(){
                    socket.emit('unready');
                    return notReady();
                });

                $(document).on('submit', '#input-nickname form', function(e){
                    e.preventDefault();
                    var name = $('#name').val();

                    if( name.length < 1 ){
                        return false;
                    }
                    socket.emit('register', name);
                    return joined();
                });
            });


